


.container 
{
    max-width: 120rem;
    height:auto;
    background-image: url('../../public/assets/img/dashboard.webp');
    background-size: cover;
    background-position: center center;
    @media(max-width:800px){
     width: 100%;
    }
}
.containerDash 
{
    width: 50rem;
    height:auto;
    box-shadow: 0 0 .2rem #7d7d7d;
    padding: 1rem 0;
    background-color: #fff;
    margin: 3rem auto;
    
    @media(max-width:800px){
     width: 100%;
     border: .1rem solid #ededed;
     border-radius: 0;
    }
 
    h2 
    {
        font-family: 'outfit';
        text-align: center;
    }
    h3 
    {
        font-family: 'outfit';
        text-align: center;
        font-size: 2rem;
    }
}
.formulario 
{
    width: 30rem;
    height: auto;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border:.1rem solid #1e1e1e;
    background-color: rgb(233, 233, 233);
    font-family: 'outfit';
    @media(max-width:800px){
      width: 20rem;
      border: none;
    }
    input 
    {
        margin-bottom: 1.2rem;
        padding-left: 1rem;
    }
    select 
    {
        margin-bottom: 1.2rem;
    }
    label 
    {
        margin-bottom: .3rem;
    }
}
.btn {
    font-size:15px;
    font-family:Arial;
    width:20rem;
    height:40px;
    border-width:1px;
    color:#666666;
    border-color:#dcdcdc;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    text-shadow:inset 0px 1px 0px #ffffff;
    background:linear-gradient(#ffffff, #f6f6f6);
    margin:  2rem auto;
    cursor: pointer;
    @media(max-width:800px){
      width: 90%;
      margin-top: 2rem;
      font-size: 1.2rem;
    }
  }
  
  .btn:hover {
    background: linear-gradient(#f6f6f6, #ffffff);
  }