


.container 
{
    max-width: 120rem;
    height: 100vh;
    background-image: url('../../public/assets/img/fondo.webp');
    background-size: cover;
    background-position: center center;
    @media (max-width:800px){
        width: 100%;
    }
  
    
    
   
}
.loginContainer 
{
    width: 50rem;
    height: 32rem;
    display: flex;
    flex-direction: column;
    @media (max-width:800px){
        width: 90%;
        margin: 0 auto;
    }
    h2 
    {
        font-family: 'outfit';
        font-size: 3rem;
        text-align: center;
        @media (max-width:800px){
            font-size:1.5rem;
            margin-top: 3rem;
        }
    }
    img 
    {
        margin: 0 auto;
        margin-bottom: -2rem;
        
    }
}
.login 
{
    width: 25rem;
    height:32rem;
    background-color:#fff;
    box-shadow:   0 0 .4rem #7d7d7d;
    border-radius: 1.2rem;
    margin: 0 auto;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    @media (max-width:800px){
        width: 90%;
        margin: 0 auto;
    }
    input 
    {
        height: 2.5rem;
        margin-bottom: 3rem;
        padding-left: 1rem;
        border: .1rem solid #dcdcdc;
        outline: none;
        font-size: 1.5rem;
        @media (max-width:800px){
            height: 1.6rem;
            margin-bottom: 2rem;
         }
    }
    label 
    {
        font-family: 'outfit';
        font-size: 1.8rem;
        margin-bottom: 1rem;
        @media (max-width:800px){
           font-size: 1.2rem;
        }
    }
}

.login input::placeholder {
    @media (max-width:800px){
     font-size: 1rem;
    }
}
.btn {
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:#666666;
    border-color:#dcdcdc;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    text-shadow:inset 0px 1px 0px #ffffff;
    background:linear-gradient(#ffffff, #f6f6f6);
    margin:  0 auto;
  }
  
  .btn:hover {
    background: linear-gradient(#f6f6f6, #ffffff);
  }
  .footer 
  {
    max-width: 120rem;
    height: 5rem;
    background-color: #1e1e1e;
    padding: 1rem;
    h2 
    {
        text-align: center;
        color: #fff;
        font-family: 'outfit';

    }
  }